/* ******************** */
/* RESET */
/* ******************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ******************** */
/* VARIABLES */
/* ******************** */

:root {
  --Open-Sans-FF: "Open Sans", sans-serif;
  --Raleway-FF: "Raleway", sans-serif;

  --Primary-Color: hsl(243, 87%, 12%);
  --Secondary-Color: hsl(238, 22%, 44%);
  --Tertiary-Color: hsl(240, 75%, 98%);

  --Testimonial-Color: hsl(0, 0%, 100%);

  --Primary-Accent-Color: hsl(224, 93%, 58%);
  --Primary-Accent-Color-Hover: hsl(221, 100%, 71%);
  --Secondary-Accent-Color: hsl(170, 45%, 43%);
  --Secondary-Accent-Color-Hover: hsl(170, 63%, 66%);

  /* Step 0: 12.00px → 16.00px */
  --Nav-FS: clamp(0.75rem, calc(0.65rem + 0.41vw), 1rem);
  /* Step 0: 24.00px → 40.00px */
  --Hero-Heading-FS: clamp(1.5rem, calc(1.11rem + 1.66vw), 2.5rem);

  /* Step 0: 14.00px → 17.00px */
  --Hero-text-FS: clamp(0.88rem, calc(0.8rem + 0.31vw), 1.06rem);

  /* Step 0: 16.00px → 40.00px */
  --Productive-Heading-FS: clamp(1rem, calc(0.42rem + 2.49vw), 2.5rem);

  /* Step 0: 14.00px → 16.00px */
  --Productive-Text-FS: clamp(0.88rem, calc(0.83rem + 0.21vw), 1rem);

  /* Step 0: 10.00px → 13.00px */
  --Testimonial-FS: clamp(0.63rem, calc(0.55rem + 0.31vw), 0.81rem);

  /* Step 0: 18.00px → 32.00px */
  --Access-Heading-FS: clamp(1.13rem, calc(0.78rem + 1.45vw), 2rem);

  /* Step 0: 14.00px → 16.00px */
  --Access-Text-FS: clamp(0.88rem, calc(0.83rem + 0.21vw), 1rem);

  --Transition: 0.8s all;
}

/* ******************** */
/* FORM */
/* ******************** */

.section-hero-email {
  padding: 12px 32px 12px 20px;
}

.section-access-email {
  padding: 14px 32px 14px 20px;
  border: solid 1px var(--Primary-Color);

  border-radius: 4px;
}

/* .section-hero-email-container {
  max-width: 536px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
} */

.section-hero-email-container {
  max-width: 536px;
  display: grid;
  grid-template-areas:
    "email"
    "button"
    "error-msg";
  gap: 8px;
}

form {
  max-width: 536px;
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="email"] {
  width: 100%;

  border: solid 1px var(--Primary-Color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.47px;
  font-family: var(--Open-Sans-FF);
}

input[type="email"]::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.47px;
  font-family: var(--Open-Sans-FF);
}

.error-message-container {
  font-family: var(--Open-Sans-FF);
}

input[type="email"] ~ .error-message-container {
  /* opacity: 0; */
  visibility: hidden;
  transform: translateY(0.63rem);
  color: rgb(255, 13, 61);
  margin-left: 24px;
}

input[type="email"]:invalid ~ .error-message-container {
  /* opacity: 1; */
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

input[type="email"]:valid ~ .error-message-container {
  /* opacity: 0; */
  visibility: hidden;
  transform: translateY(0.63rem);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

input[type="email"]:invalid {
  border: 2px solid rgb(255, 79, 114);
  transition: border 0.3s ease;
}

button {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--Raleway-FF);
  color: var(--Testimonial-Color);

  padding: 14px 55px;

  border-radius: 4px;
  background: var(--Primary-Accent-Color);

  transition: var(--Transition);

  box-shadow: 0px 7px 7px -1px rgba(0, 0, 0, 0.1);
}

button:is(:hover, :focus-visible) {
  background: var(--Primary-Accent-Color-Hover);
}

/* ******************** */
/* HEADER + NAV */
/* ******************** */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 24px 98px 24px;
  margin: 0 auto;
}

.header-logo {
  max-width: 80px;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 400;
  font-size: var(--Nav-FS);
  line-height: 14px;
  font-family: var(--Raleway-FF);
  color: var(--Primary-Color);
}

.navbar-list li:is(:hover, :focus-visible) {
  color: var(--Primary-Accent-Color-Hover);
  transition: var(--Transition);
}

/* ******************** */
/* SECTION - HERO */
/* ******************** */

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding: 0 27px;
  /* margin: 0 auto 90px auto; */

  margin-bottom: 90px;
}

.hero-illustration {
  max-width: 640px;
}

.hero-content {
  text-align: center;
  color: var(--Primary-Color);
}

.hero-content-heading {
  max-width: 28ch;
  font-size: var(--Hero-Heading-FS);
  font-weight: 700;
  line-height: 36px;
  font-family: var(--Raleway-FF);

  margin-bottom: 24px;
}

.hero-content-text {
  max-width: 60ch;
  font-size: var(--Hero-text-FS);
  font-weight: 400;
  line-height: 21px;
  font-family: var(--Open-Sans-FF);

  margin-bottom: 32px;
}

/* ******************** */
/* SECTION - STAY PRODUCTIVE */
/* ******************** */

.section-stay-productive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 87px;

  background: var(--Tertiary-Color);

  padding: 20px 27px 160px 28px;

  margin: 0 auto;
}

.section-stay-productive-curve {
  width: 100%;
}

.stay-productive-illustration {
  max-width: 543px;
}

.stay-productive-content {
  display: grid;
  gap: 40px;

  text-align: center;
  color: var(--Primary-Color);
}

.stay-productive-heading {
  font-size: var(--Productive-Heading-FS);
  font-weight: 700;
  line-height: 24px;
  font-family: var(--Raleway-FF);

  margin-bottom: 24px;
}

.stay-productive-text-one {
  max-width: 57ch;

  font-size: var(--Productive-Text-FS);
  font-weight: 400;
  line-height: 21px;
  font-family: var(--Open-Sans-FF);

  margin-bottom: 16px;
}

.stay-productive-text-two {
  max-width: 57ch;

  font-weight: 400;
  font-size: var(--Productive-Text-FS);
  line-height: 21px;
  font-family: var(--Open-Sans-FF);

  margin-bottom: 36px;
}

.stay-productive-content-link {
  max-width: 168px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--Secondary-Accent-Color);
  font-family: var(--Open-Sans-FF);

  display: flex;
  align-items: center;
  gap: 6px;

  height: 27px;

  border-bottom: solid 1px var(--Secondary-Accent-Color);
}

.stay-productive-content-link:is(:hover, :focus-visible) {
  color: var(--Secondary-Accent-Color-Hover);
  border-bottom: solid 1px var(--Secondary-Accent-Color-Hover);
}

/* TESTIMONIAL */

.stay-productive-content-testimonial {
  max-width: 355px;

  text-align: start;
  color: var(--Primary-Color);

  display: grid;
  gap: 16px;
  background: var(--Testimonial-Color);

  padding: 47px 24px 24px 31px;
  position: relative;

  border-radius: 4px;

  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.stay-productive-content-testimonial::after {
  content: url(../images/icon-quotes.svg);
  top: 20px;
  left: 34px;
  display: block;
  position: absolute;
}

blockquote {
  font-weight: 400;
  font-size: var(--Testimonial-FS);
  line-height: 23px;
  /* or 177% */
  letter-spacing: 0.5px;

  font-family: var(--Open-Sans-FF);
}

figcaption {
  display: flex;
  align-items: center;
  gap: 7.46px;
}

.testimonial-image {
  width: 33px;
  border-radius: 40px;
}

.testimonial-name {
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.55px;

  font-family: var(--Open-Sans-FF);
}

.testimonial-info {
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  /* identical to box height, or 188% */
  letter-spacing: 0.4px;

  font-family: var(--Open-Sans-FF);
}

/* ******************** */
/* SECTION - ACCESS */
/* ******************** */

.section-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  padding: 54px 27px 71px 27px;
  margin: 0 auto;
  background: var(--Secondary-Color);
}

.section-access-content {
  text-align: center;
  color: var(--Testimonial-Color);
}

.section-access-heading {
  font-weight: 700;
  font-size: var(--Access-Heading-FS);
  line-height: 24px;
  font-family: var(--Raleway-FF);

  margin-bottom: 15px;
}

.section-access-text {
  max-width: 57ch;
  font-weight: 400;
  font-size: var(--Access-Text-FS);
  line-height: 21px;
  letter-spacing: 0.5px;
  font-family: var(--Open-Sans-FF);
}

.section-access-email-container {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* ******************** */
/* FOOTER */
/* ******************** */

.footer {
  background: var(--Primary-Color);
  /* padding-inline: 80px; */
  /* padding: 65px 114px 42px 39px; */

  display: grid;
  justify-content: center;

  padding: 60px 20px 40px 20px;
  margin: 0 auto;
}

.footer-inner {
  max-width: 1440px;

  display: grid;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: center;
  gap: 32px;

  color: var(--Testimonial-Color);
}

.footer-company-info {
  display: grid;
}

.footer-address-link {
  display: flex;
  align-items: center;
  gap: 21px;
}

.footer-logo {
  filter: brightness(0) invert(100%);
  margin-bottom: 32px;
}

.footer-address-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-family: var(--Open-Sans-FF);

  display: grid;
  gap: 16px;
}

.footer-address-list li:is(:hover, :focus-visible) {
  color: var(--Primary-Accent-Color-Hover);
  transition: var(--Transition);
}

.footer-nav-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--Open-Sans-FF);
}

.footer-nav-list li:is(:hover, :focus-visible) {
  color: var(--Primary-Accent-Color-Hover);
  transition: var(--Transition);
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 9.84px;
}

.footer-nav-list li {
  margin-bottom: 16px;
}

/* .footer-nav-list li:last-child {
  margin-bottom: 0;
} */

.social-media-link {
  display: grid;
  place-content: center;
  width: 31px;
  height: 31px;

  fill: var(--Testimonial-Color);
  border: solid 1px var(--Testimonial-Color);
  border-radius: 40px;
}

.social-media-link:is(:hover, :focus-visible) {
  border: solid 1px var(--Primary-Accent-Color-Hover);
}

.social-media-icon {
  width: 14.04px;

  /* padding: 8px; */
}

.social-media-link:is(:hover, :focus-visible) .social-media-icon {
  fill: var(--Primary-Accent-Color-Hover);
}

/* ******************** */
/* MEDIA QUERY */
/* ******************** */

@media (min-width: 500px) {
  header {
    padding: 65px 60px 26px 60px;
  }

  .header-logo {
    max-width: 146px;
  }
}

@media (min-width: 1110px) {
  /* HEADER + NAV */
  header {
    padding: 65px 80px 62px 80px;
  }

  .header-logo {
    max-width: 166px;
  }

  .navbar-list {
    gap: 58px;

    line-height: 19px;
  }

  /* SECTION - HERO */

  .section-hero {
    flex-direction: row-reverse;

    padding: 20px 80px 20px 80px;

    /* margin: 0 auto 145px auto; */
    margin-bottom: 143px;
  }

  .hero-illustration {
    max-width: 640px;
    margin-top: 4px;
  }

  .hero-content {
    text-align: start;
  }

  .hero-content-heading {
    line-height: 60px;

    margin-bottom: 15px;
  }

  .hero-content-text {
    line-height: 24px;
    letter-spacing: 0.53px;

    margin-bottom: 25px;
  }

  .section-hero-email-container {
    /* flex-direction: row; */

    /* gap: 16px; */
  }

  .section-hero-email-container {
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "email button"
      "error-msg error-msg";

    gap: 16px;
  }

  .hero-content-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: var(--Raleway-FF);
    color: var(--Testimonial-Color);
    padding: 14px 55px;

    border-radius: 4px;
    background: var(--Primary-Accent-Color);
  }

  /* SECTION - STAY PRODUCTIVE */

  .section-stay-productive {
    flex-direction: row-reverse;

    padding: 65px 30px 108px 30px;
  }

  .stay-productive-illustration {
    max-width: 543px;

    margin-top: -42px;
  }

  .stay-productive-content {
    text-align: start;
    gap: 47px;
  }

  .stay-productive-heading {
    line-height: 47px;

    margin-bottom: 37px;
  }

  .stay-productive-text-one {
    line-height: 24px;
    margin-bottom: 16px;
  }

  .stay-productive-text-two {
    line-height: 24px;

    margin-bottom: 16px;
  }

  .stay-productive-content-link {
    font-size: 16px;
    line-height: 22px;
  }

  /* SECTION - ACCESS */

  .section-access {
    display: flex;
    flex-direction: row;
    gap: 239px;

    padding: 73px 120px 58px 80px;
  }

  .section-access-content {
    text-align: start;
  }

  .section-access-heading {
    line-height: 48px;

    margin-bottom: 15px;
  }

  .section-access-text {
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.5px;
  }

  .section-access-email-container {
    align-items: flex-start;

    gap: 16px;

    margin-top: 40px;
  }

  .section-access-email-button {
    width: 200px;
    padding: 15px 30px;
  }

  /* FOOTER */

  .footer {
    padding: 108px 80px 82px 80px;
  }

  .footer-inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .footer-address {
    margin-right: 173px;
  }

  .footer-logo {
    width: 175px;
    margin-bottom: 23px;
  }

  .footer-nav-list {
    columns: 2;
    column-gap: 146px;
  }

  .footer-nav-list li:nth-child(7) {
    margin-bottom: 40px;
  }

  .social-media-list {
    gap: 13px;
    margin-left: 95px;
    margin-top: 3px;
  }
}
